<div class="card">
  <%= link_to image_tag(fish.image, class: 'card__img'), fish_path(fish) %>
  <div class="card__body">
    <%= link_to fish.name, fish_path(fish), class: 'card__title' %>
    <p class="card__summary">
      <%#= fish.catch_copy %>
    </p>
    <%= link_to "#{fish.user.name}", user_path(fish.user), class: 'card__user' %>
  </div>
</div>