<main class="main">
<div class ="back">
  <%= image_tag "IMG_0016.jpeg",  class: "back-image"%>
  <div class= "destroy_text", id="destroy_main" >
  削除されました
  </div>
   <% if user_signed_in? %>
    <%# ログインしているときは以下を表示する %>
        <span class="greeting">こんにちは
        <%= current_user.nickname %>
        さん</span>
    <% end %>
  <div class="inner">
   <div class="card__back">
    <div class="card__wrapper">
    <%= render partial: 'fish', collection: @fishes %>
      </div>
     </div>
    </div>
  </div>
</main>